body{
    background:rgba(243, 237, 237, 0.905);
    width: 1060px;
    margin: 0 auto;
}
/* identiter conteneur de la page web */
#conteneur{
    background: white;
    width: 1050px;
    margin: 0 auto;
}
header h4{
    color: blueviolet;
}
nav{/* la hauteur de la nav */
    height: 100px;
}
.right{/* classe right sert à posissionner à droite */
    float: right;
}
.left{ /* classe right sert à posissionner à gauche */
    float: left;
}
article{
    margin-top: 100px;
    line-height:30px;
    width: 510px;
    height: 415px;
    padding-left: 10px;
}
p{
    padding-right: 100px;
    text-indent: 300px;
} 
.clear{
    clear: both;
}
.center{
    background-position: center;
}
h2::before{                         
    /* le tret au dessus de h1 */     
    content: ""; 
    height: 1px;     
    width: 300px;     
    background: black;     
    display: block;     
    margin: 0 auto;
} 
h3::after{                         
    /* le tret en dessous de h3 */     
    content: ""; 
    height: 1px;     
    width: 300px;     
    background: black;     
    display: block;     
    margin: 0 auto;
}
/* le tret en dessous de p */   
p::after{                         
    content: ""; 
    height: 1px;     
    width: 600px;     
    background: black;
    display: block;  
    float: right;
    margin: 0 auto;
} 
h3::after{                         
    /* le tret en dessous de h3 */     
    content: ""; 
    height: 1px;     
    width: 500px;     
    background: black;     
    display: block;     
    margin: 0 auto;
} 
img{
    width: 530px;
    height: 515px;
}

blockquote{
    /* text-align: center; */
    width: 200px;
    float: right;
} 
h2::after{   /* le tret en dessous de h1 */                         
    content: "";     
    height: 2px;     
    width: 300px;     
    background: black;     
    display: block;     
    margin: 0 auto;
}
.displayem {
    display: block;
    text-align: center;
}
strong{
    color:white;
    display: block; /* display sert à changer le comportement de strong  */
    background: #000011;
    line-height:30px; /* line height sert à redimensionner les marges interlignes  */
    width: 150px;
    height: 30px;
}
h4{
    font-style: italic;
}
h2, h4{
    text-align: center;
    letter-spacing: 10px; 
    margin-top: 20px; 
}
h5{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
p{
    margin-top: 50px;
    text-indent: 300px;
} 

footer{/* le bas de la page */
    height: 300px;
    background: url('../img/plan.png') no-repeat top;
    width: 300px;
    margin-left: 400px;
    margin-bottom: 150px; 
    display: inline-block;
    margin-right: 400px;
    padding-left: 10px;
    padding-right: 10px;
}
